<a href="https://colab.research.google.com/github/Martell0x1/ML-Assigment/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import os
os.getcwd()

'/content'

In [19]:
import pandas as pd

df = pd.read_csv('data.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc9 in position 35995: invalid continuation byte

In [20]:
import chardet as ch

with open('data.csv','rb') as f:
    re = ch.detect(f.read())
    print(re)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [21]:
df = pd.read_csv('data.csv',encoding='ISO-8859-1')
df.head(500)

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0
2,Toronto,799900.0,#714 -859 THE QUEENSWAY,2,2,Ontario,5647656,43.7417,-79.3733,97000.0
3,Toronto,1200000.0,275 MORTIMER AVE,4,2,Ontario,5647656,43.7417,-79.3733,97000.0
4,Toronto,668800.0,#420 -388 RICHMOND ST,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
...,...,...,...,...,...,...,...,...,...,...
495,Toronto,999888.0,38 ST CLARENS AVE,3,3,Ontario,5647656,43.7417,-79.3733,97000.0
496,Toronto,585000.0,#N810 -120 BAYVIEW AVE,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
497,Toronto,749900.0,#2802 -85 QUEENS WHARF RD,2,1,Ontario,5647656,43.7417,-79.3733,97000.0
498,Toronto,499999.0,#1701 -115 BLUE JAYS WAY,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
499,Toronto,949000.0,132 HILLSDALE AVE W,4,1,Ontario,5647656,43.7417,-79.3733,97000.0

In [22]:
df.tail()

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
35763,Halifax,439900.0,301 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35764,Halifax,6990000.0,1160 Rockcliffe Street,5,5,Nova Scotia,431479,44.8857,63.1005,86753.0
35765,Halifax,419900.0,212 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35766,Halifax,949900.0,10 Idlewylde Road,3,1,Nova Scotia,431479,44.8857,63.1005,86753.0
35767,Halifax,592900.0,208 2842-2856 Gottingen,2,1,Nova Scotia,431479,44.8857,63.1005,86753.0

In [23]:
df[['City']].value_counts()

City
Regina              1917
Saskatoon           1800
Edmonton            1351
London              1345
New Westminster     1337
Caledon             1336
Burnaby             1334
Vancouver           1328
Victoria            1325
Calgary             1322
Hamilton            1289
Maple Ridge         1282
Kelowna             1280
Toronto             1276
St. Catharines      1268
Kitchener           1199
White Rock          1175
Ottawa              1097
Oshawa              1082
Barrie              1012
Abbotsford           755
Windsor              720
Nanaimo              683
St. John's           654
Brantford            628
Winnipeg             531
Kingston             486
Saint John           458
Kamloops             442
Guelph               436
Moncton              416
Lethbridge           379
Red Deer             326
Peterborough         307
Prince George        307
Medicine Hat         277
Airdrie              225
Montreal             212
Sudbury              203
Sherbrooke           197
Quebec               196
Trois-Rivieres       165
Sault Ste. Marie     165
Thunder Bay          154
Halifax               91
Name: count, dtype: int64

In [24]:
df['Population'].value_counts()

Population
226404     1917
266141     1800
1151635    1351
423369     1345
78916      1337
76581      1336
249125     1334
2426160    1328
363222     1325
1306784    1322
729560     1289
90990      1282
181380     1280
5647656    1276
242460     1268
522888     1199
109167     1175
1068821    1097
335949     1082
154676     1012
153524      755
306519      720
106079      683
185565      654
104688      628
758515      531
136685      486
69895       458
97902       442
144356      436
119785      416
98406       379
100844      326
84793       307
76708       307
63382       277
74100       225
3675219     212
166004      203
172950      197
733156      196
139163      165
72051       165
108843      154
431479       91
Name: count, dtype: int64